
h2   /* h2 css code*/ 
{
  position:absolute;
  top:60%;
  left:50%;
  transform:translate(-50%,-50%);
  text-transform:uppercase;
  font-family:consolas;
  font-size:2.7em;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  color:black;

}
h3::before              /*before part for h2 */
{

  content:attr(data-Text);
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  color:white;
  overflow:hidden;
  border-right: 1px solid lime;
  animation:type 20s steps(30) infinite;
  white-space: nowrap;
}

@keyframes type      /*key frames for teh effict*/
{
    0%
    {
      width: 0;
    }
    50%
    {
      width: 100%;
    }
    100%
    {
      width: 0;
    }
}
